@import url('https://fonts.googleapis.com/css2?family=Exo&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Lobster+Two&family=Saira+Semi+Condensed&family=Sansita:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
}
.main{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.wrapper, .slide{
    width: 95%;
    height: 90vh;  
    overflow: hidden;
    position: relative;
    border: 0.5px solid white;
   
}
.slide::before{
    content: "";
    position: absolute;
    height: 90vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
 
}
.slide .photo{
    height: 100%;
    width: 100%;
   
}
.slide .image-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    width: 100%;
    z-index: 100;
   
}

.image-data h2{
      font-family: Questrial-Regular;
    text-align: center;
  color: #fff;
 font-size: 2.5rem;
    text-shadow: 5px 5px black;
   
}
.image-data span{
    font-family: Questrial-Regular;
    color: #fff;
    font-size: 1.6rem;
}



/* Change arrow color */
.swiper-button-next,
.swiper-button-prev {
  color: #fff; /* White color */
  background-color: #2878EB; /* Orange background */
  border-radius: 50%; /* Make it circular */
  width: 40px; /* Smaller size */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px; /* Adjust icon size */
}

/* Add hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e64a19;
}

/* Adjust icon size inside button */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}


@media(max-width:1200px){
    
    
    .slide .photo{
        object-fit: cover;
        height: 100vh;
    }
    .image-data h2{

        font-size: 1.3rem;
       
    }

    .image-data span{
   
    font-size: 1rem;

    }
}
